@use '../../styles/_variable' as *;
@use '../../styles/_mixins' as *;
@use '../../styles/_global' as *;

*,
*::before,
*::after{
    @include boxSizing();
    // outline: 2px solid red;
}
.add-transaction-body{
    font-family: Poppins;
}
.add-transaction-wrapper{
    position:fixed;
    z-index:9;
    top:14px;
    left:0;
    right:0;
    background-color: $lightWrapperBackground;
    width:70%;
    margin-inline:auto;
    // margin-top:50px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding:10px;
    box-shadow:0px 2px 10px rgba(0, 0, 0, 0.7)
}
.add-transaction-wrapper::backdrop{
    background-color:rgba(0, 0, 0, 0.5)
}
.add-transaction-cross-btn{
    @include flex-content-right();
    cursor:pointer;
    font-size:2rem;
    font-weight:$fontWeight700
}
.add-transaction-quote{
    font-style:italic;
    margin-inline: auto;
    width:fit-content;
    margin-bottom:30px;
}
.add-transaction-name{
    @include input-wrapper();
}
#add-transaction-name-input{
    font-size:1.2rem;
    margin-top:5px;
    @include input-default();
}
.add-transaction-date{
    @include input-wrapper();
}
#add-transaction-date-input{
    font-size:1.2rem;
    margin-top:5px;
    @include input-default();
}
.add-transaction-amount{
    @include input-wrapper();
}
.add-transaction-currency{
    color:$lightText;
    font-size:.8rem;
    font-weight:$fontWeight700;
}
#add-transaction-amount-input{
    @include input-default();
    font-size: 1.3rem;
    font-weight:$fontWeight700;
    width:190px;
}
#add-transaction-amount-input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.add-transaction-comment-wrapper{
    @include input-wrapper();
    background-color: transparent;
}
#add-transaction-comment{
    @include input-default();
    text-align:center;
    font-size:1.1rem;
    resize:none;
}
.add-transaction-categories-wrapper{
    @include input-wrapper();
}
#add-transaction-select{
    @include input-default();
    cursor:pointer;
}
.add-transaction-category-example-wrapper{
    border:1px solid $lightInputBackground;
    width:350px;
    padding:15px;
    @include flex-space-between();
    flex-wrap:wrap;
    margin-inline:auto;
    gap:10px;
    margin-bottom:20px;
    border-radius:6px;
}
.add-transaction-category-example{
    width:60px;
    padding:10px;
    height:60px;
    @include flex-center();
    align-items: center;
    border-radius:6px;
    cursor:pointer;
}
.add-transaction-emoji{
    font-size:1.5rem;
}
.add-transaction-selected-category{
    width:fit-content;
    padding:10px;
    margin-inline:auto;
    margin-bottom: 15px;
    font-weight: $fontWeight700;
    border-radius:6px;
}
.add-transaction-amount-limit{
    @include input-wrapper();
}
#add-transaction-amount-limit-input{
    @extend #add-transaction-amount-input;
}
#add-transaction-amount-limit::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.add-transaction-limit{
    color:$lightInputBackground;
    font-size:.9rem;
    width:fit-content;
    margin-inline:auto;
    margin-bottom:15px;
}
.add-transaction-btn{
    margin-inline:43.5%;
    cursor:pointer;
    padding:20px;
    text-transform: uppercase;
    height: 30px;
    width:fit-content;
    display: flex;
    align-items: center;
    font-weight: $fontWeight700;
    background-color:$lightInputBackground;
    outline:none;
    border:none;
    border-radius:6px;
    margin-bottom:10px;
    transition: 300ms;
    font-size:1.2rem;
}
.add-transaction-btn:hover{
    box-shadow: 0 0 2px black 
}
.add-transaction-err-message{
    width:fit-content;
    margin-inline:auto;
    color:$lightError;
    font-size:.8rem;
}