@font-face {
    font-family: Poppins;
    src: url(../assets/Fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: Inter;
    src: url(../assets/Fonts/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../assets/Fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Rubik;
    src: url(../assets/Fonts/Rubik-VariableFont_wght.ttf);
}
