@use '../../styles/_variable' as *;
@use '../../styles/_mixins' as *;

*,
*::before,
*::after{
    @include boxSizing();
    // outline:2px solid red
}
.dashboard-wrapper{
    margin-inline:15px;
    font-family:$fontFamilyOne;
    margin-top:20px;
}
.heading{
    font-weight:$fontWeight700;
    margin-bottom:15px;
}
.username{
    color:$lightPrimary;
}
.containers{
    display:flex;
    justify-content:space-between
}

// --- CONTAINER ONE-----
.dashboard-containerOne{
    width:31%
}
.card{
    border-radius:20px;
    background:linear-gradient(135deg, #4FACFE, #00F2FE);
    padding:18px;
    height:fit-content;
    margin-bottom:28px;
}
.firstHalf{
    @include flex-space-between();
    margin-bottom:55px;
}
.card-texts{
    font-weight: $fontWeight500;
    margin-bottom:3px;
    font-size:0.8rem;
}
.card-numbers{
    font-weight: $fontWeight900;
    font-size:1.6rem;
}
.amount-color{
    width:35px;
    height:35px;
    border-radius:50%;
}
.secondHalf{
    @include flex-space-between();
}
.recent{
    color:$lightText;
    font-size:1.1rem;
    margin-bottom:20px;
}
//   FIND A WAY TO MAKE THE SCROLLBAR NOT VISISBLE
.recent-trans{
    height:230px;
    overflow-y:auto;
}
.recent-rows{
    @include flex-space-between();
    padding-block:5px;
    align-items:center;
    cursor:pointer;
    padding-inline:10px 15px;
}
.recent-rows:hover{
    background-color: $lightSecondary
}
.recent-rows:active{
    background-color: $lightSecondaryHover;
}
.emoji-box{
    @extend .amount-color;
    display:flex;
    align-items:center;
    justify-content: center;
    font-size:1.1rem;
}
.example-name{
    text-align:left;
    font-weight: $fontWeight700;
    width:40%;
    margin-left:-10px;
}
.amount-left{
    font-weight:$fontWeight700;
    width:30%;
    text-align:left;
}
.currency{
    color:$lightText;
    font-size:.8rem;
}
.amount-left-color{
    width:18px;
    height:18px;
    border-radius:50%;
}

// --- CONTAINER TWO-----
.dashboard-containerTwo{
    width:31%;
}
.graphs-wrapper{
    border:1px solid $lightPrimary;
    height:300px;
    padding:10px;
    margin-bottom:30px;
    border-radius:5px;
}
.types{
    display:flex;
    justify-content:end;
    align-items:center;
}
.type-of-graph{
    cursor: pointer;
    @include p-bgd-br();
}
.type-of-graph:hover{
    background-color:$lightPrimaryHover ;
}
.months{
    @include p-bgd-br();
    margin-right:30px;
}
.add-expense-btn{
    width:fit-content;
    margin-inline:auto;
    border-radius:50%;
    padding:11px 22px;
    font-weight:$fontWeight700;
    font-size: 1.7rem;
    background-color:$lightPrimary;
    cursor: pointer;
    transition:ease 200ms;
}
.add-expense-btn:hover{
    background-color:$lightPrimaryHover;
}

// --- CONTAINER THREE-----
.dashboard-containerThree{
    width:31%;
}
.categories{
    margin-bottom:20px;
}
.categoryName{
    font-weight: $fontWeight900;
    margin-bottom:16px;
    font-size:1.3rem;
    color:$lightText;
    cursor:pointer;
}
.categoryName:hover{
    color:$lightTextHover;
}
.categoryExample{
    @extend .recent-rows;
    display:block;
    padding-inline:0px;
    padding-block:10px;
}
.semi-category{
    @include flex-space-between();
    align-items:center;
}
.category-emoji{
    @extend .emoji-box;
    font-size:1.1rem;
    width:40px;
    height:40px;
}
.category-example{
    @extend .example-name;
    margin-left:6px;
}
.example-limit,
.example-amount-left{
    @extend .amount-left;
    margin-right:3px;
    @include flex-content-right();
    align-items:baseline;
}
.example-amount-left{
    margin:0;
    @include flex-content-right
}
.percentage-left{
    display:flex;
    justify-content:right;
   font-size:.7rem;
}